.hero-bg {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/blocks.webp);
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.learn-bg {
  min-height: 100vh;
  text-align: center;
}

.welcome-text {
  color: #ffffff !important;
  font-size: 64px !important;
  font-weight: bold !important;
  transform: translateY(48px);
  padding: 0px 12px;
}

.header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1) !important;
}

.header-logo {
  height: 50px;
}

.header-logo:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header-menu {
  top: 0;
  right: 0;
  position: absolute;
  padding: 0px !important;
  background-color: transparent !important;
  margin: 0px 16px;
}

.footer {
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 24px 50px;
  font-size: 16px !important;
}

@keyframes bounce {
  0% {
    bottom: 120px;
    position: absolute;
  }
  50% {
    bottom: 100px;
    position: absolute;
  }
  100% {
    bottom: 120px;
    position: absolute;
  }
}

.hero-arrow svg {
  left: 0;
  right: 0;
  margin: auto;
  font-size: 48px;
  color: #fff;
  animation: bounce 1.5s infinite;
}

@media screen and (max-height: 500px) {
  .hero-arrow {
    display: none;
  }
}

.about-text {
  transform: translateY(48px);
  font-size: 64px !important;
  font-weight: bold !important;
  padding: 0px 12px;
}

.about-text img {
  max-height: 500px;
}

.info-text {
  margin: 100px 0px;
}

.info-column {
  text-align: left;
  padding: 24px;
}

.decentralized {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 8px 8px 8px;
  margin-bottom: 100px;
}
